@import 'tailwindcss' layer(base);

@import 'tailwindcss';

@layer utilities {
  :root {
    --tw-bg-opacity: 1;
    --tw-text-opacity: 1;
    --tw-border-opacity: 1;
  }
}
@layer base {
  html {
    @apply bg-gray-100;
  }

  body {
    @apply text-gray-900;
  }

  a {
    @apply text-blue-600;
  }
}